body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
}

.my_heart{
    height: 250px;
    width: 250px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -20px 20px 100px #f20044;
    animation: heart_beat 0.5s linear infinite;
}

.my_heart:before{
    content: "";
    position: absolute;
    height: 250px;
    width: 250px;
    background: #f20044;
    top: -50%;
    border-radius: 250px;
    box-shadow: -10px 10px 90px #f20044;
}

.my_heart:after{
    content: "";
    position: absolute;
    height: 250px;
    width: 250px;
    background: #f20044;
    right: -50%;
    border-radius: 250px;
    box-shadow: -10px 10px 90px #f20044;
}

@keyframes heart_beat {
    0%{
        transform: rotate(-45deg) scale(1.1);
    }
    50%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.9);
    }
}